/ElasticSeachSDK/bin
/ElasticSeachSDK/obj
/MCPSniffer/obj
/MCPSniffer.Core/obj
/MCPSniffer.Interface/obj
/MCPSniffer.Core/bin
/MCPSniffer.Interface/bin
/MCPSniffer/bin
/MCPFileCollector/bin
/MCPFileCollector/obj
/ElasticSearchClientDemo/bin
/ElasticSearchClientDemo/obj
